# Runtime files
logs/
crash-reports/
saves/
screenshots/
replay_recordings/

# Launcher/runtime folders
.minecraft/
versions/
libraries/
assets/
runtime/
downloads/

# Local player/client files
options.txt
optionsof.txt
servers.dat
launcher_profiles.json
usercache.json
usernamecache.json

# Minimap/map local data
journeymap/
xaero/
local/
ftbchunks/local/

# Exported builds
exports/
build/
*.zip
*.mrpack

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Exception for tacz 1.20.1 port addons
!"tacz/Create Armorer-v1.2.0+1.21.1.zip"